@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.article {
  width: 100%;
  height: 100%;

  @include shadow-normal;

  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;

    height: 7vw;

    padding: 0.5rem 1rem;

    overflow: hidden;

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;

    width: 100%;
    height: 100%;

    transform: translateX(-50%);
    object-fit: cover;
    z-index: 0;
  }

  &__header-info {
    color: $color-background-primary;
    font-style: italic;
    font-size: 0.5rem;

    position: relative;

    margin: 0;

    z-index: 1;
  }

  &__body {
    padding: 1.25rem 1rem;

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__heading {
    font-size: 1.5rem;

    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__content {
    color: $color-font-tertiary;
    font-size: 0.75rem;
    line-height: 1.1rem;

    margin: 0;

    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  @include vp-tablet {
    &__header {
      height: 40%;
    }

    &__header-info {
      font-size: 0.75rem;
    }

    &__content {
      font-size: 1rem;
    }
  }

  @include vp-mobile {
    min-height: 16.4375rem;

    &__header {
      height: 7rem;
    }
  }
}
