@use "../../../assets/scss/variables.scss" as *;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  color: $color-background-primary;

  min-width: 192px;
  width: 47.5%;
  min-height: 32px;

  margin: 0 auto;
  padding: 0;

  border: 0;

  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;

  border-radius: 18px;

  background-color: $color-accent;
}
