@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.home-blog {
  padding: 1.5rem;

  background-color: $color-background-primary;

  max-height: 659px;
  overflow-y: auto;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;

    list-style: none;

    margin: 0 0 1.75rem;
    padding: 0;
  }

  &__item {
    min-height: 263px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & button {
    max-width: 194px;
  }

  @include vp-mobile {
    &__list {
      display: block;
    }
  }
}
