@use "./variables.scss" as *;
@use "./mixins.scss" as *;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),
    url("../../static/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../../static/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat"),
    url("../../static/fonts/Montserrat-Italic.woff2") format("woff2"),
    url("../../static/fonts/Montserrat-Italic.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"),
    url("../../static/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../../static/fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"),
    url("../../static/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../../static/fonts/Montserrat-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: $color-font-primary;
  font-style: normal;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;

  background-color: $color-background-primary;
  margin: 0;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 0.0625rem;
  height: 0.0625rem;

  margin: -0.0625rem;

  clip: rect(0 0 0 0);
}

.input {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 1.4375rem;

  & label {
    color: $color-font-secondary;
    font-size: 0.75rem;

    margin-bottom: 0.5rem;
  }

  &__wrapper {
    width: 100%;
    height: 2.5rem;

    background-color: $color-background-quaternary;

    &--short {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 40%;
      height: 3rem;

      padding: 0 0.5rem;

      & svg {
        margin-left: 0.5rem;
      }

      & button {
        margin-right: 0.5rem;
      }
    }
  }

  &__dropdown {
    position: absolute;

    top: 4rem;
    left: 0;

    width: 100%;

    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
  }

  &__dropdown-list {
    list-style: none;

    margin: 0;
    padding: 0;
  }

  &__dropdown-item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -0.0625rem;
      left: 0;

      width: 100%;
      height: 0.125rem;

      background-color: $color-background-tertiary;
    }
  }

  & input,
  &__dropdown-option {
    display: block;

    color: $color-font-primary;
    font-family: inherit;
    font-size: 0.75rem;
    text-align: left;

    width: 100%;
    height: 100%;

    padding: 0.6875rem 1.125rem 0.8125rem;

    border: 0;
    background-color: transparent;
    cursor: pointer;

    &::placeholder {
      color: $color-font-quaternary;
      font-style: italic;
    }
  }

  & textarea {
    display: block;

    color: $color-font-primary;
    font-family: inherit;
    font-size: 0.75rem;

    width: 100%;
    max-width: 100%;
    height: 13.375rem;

    padding: 0.75rem 1.125rem;

    border: 0;
    background-color: $color-background-quaternary;
    resize: vertical;

    &:focus {
      outline: none;
    }
  }

  &__dropdown-option {
    position: relative;

    &--chosen {
      cursor: default;
    }

    &--chosen,
    &--empty {
      color: $color-font-quaternary;
    }

    &--with-arrow::after,
    &--with-arrow::before {
      content: "";
      position: absolute;
      right: 1.25rem;
      top: 1.125rem;

      width: 0.375rem;
      height: 0.0625rem;

      transform: rotate(45deg);
      background-color: $color-arrow;
    }

    &--with-arrow::after {
      right: 1rem;

      transform: rotate(-45deg);
    }

    &--with-arrow-rotated::before {
      transform: rotate(-45deg);
    }

    &--with-arrow-rotated::after {
      transform: rotate(45deg);
    }

    &--empty {
      font-style: italic;
    }
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  &__upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    color: $color-background-primary;
    font-family: inherit;
    font-size: 0.625rem;

    height: 1.5rem;

    margin-left: 1rem;
    padding: 0.5rem 0.75rem;

    background-color: $color-background-tertiary;
    border: 0;
    border-radius: 1.125rem;

    cursor: pointer;
  }

  &__icon-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    color: $color-background-tertiary;

    width: 1.25rem;
    height: 1.25rem;

    padding: 0;

    border: 0;
    background-color: transparent;
    cursor: pointer;

    & svg {
      margin-left: 0;
    }

    &--with-css-icon {
      &::after,
      &::before {
        position: absolute;
        top: 0.5625rem;
        left: 0;

        width: 100%;
        height: 0.125rem;

        border-radius: 0.125rem;
        background-color: $color-background-tertiary;

        content: "";
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__name-preview {
    font-size: 0.75rem;
    margin-right: 0.25rem;
  }

  &__resize-sub {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 1.4375rem;
    height: 1.5rem;

    background-color: $color-background-quaternary;
    pointer-events: none;
  }

  & svg {
    color: $color-background-tertiary;
  }
}

.main {
  background-color: $color-background-secondary;
}

.container {
  width: 100%;
  max-width: $container;

  margin: 0 auto;
  padding: 3.125rem 3.125rem 3.0625rem;
}

@include vp-mobile {
  html {
    font-size: 5vw;
  }

  .container {
    padding: 1.5rem;
  }

  .input {
    & svg {
      width: 0.8125rem;
      height: 0.8125rem;
    }

    &__wrapper--short {
      width: 100%;
    }
    &__icon-button svg {
      width: 1.0625rem;
      height: 1.0625rem;
    }
  }
}
