$color-background-primary: #ffffff;
$color-background-secondary: #f4f4f4;
$color-background-tertiary: #7d7d7d;
$color-background-quaternary: #f2f2f2;

$color-font-primary: #262626;
$color-font-secondary: #484848;
$color-font-tertiary: #868686;
$color-font-quaternary: #c5c5c5;

$color-arrow: #000000;

$color-accent: #f27623;
$color-error: #e53935;
$color-success: #408140;
