$color-background-primary: #ffffff;
$color-background-secondary: #f4f4f4;
$color-background-tertiary: #7D7D7D;

$color-font-primary: #262626;
$color-font-secondary: #484848;
$color-font-tertiary: #868686;

$color-accent: #F27623;


