@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.blog {
  padding: 1.5rem;

  background-color: $color-background-primary;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 10%;
    gap: 1.5625rem;

    list-style: none;

    margin: 0;
    padding: 0;
  }

  &__item {
    min-height: 16.4375rem;
  }

  @include vp-tablet {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 10%;
    }
  }

  @include vp-mobile {
    &__list {
      display: block;
    }

    &__item {
      margin-bottom: 1.25rem;
    }
  }
}
