@use "../../../assets/scss/variables.scss" as *;

.error {
  position: fixed;
  right: 30px;
  bottom: 30px;

  color: $color-background-primary;
  font-size: 1rem;

  width: 30vw;

  padding: 2rem;

  background-color: $color-background-tertiary;
  cursor: pointer;
}
