@use "../../../assets/scss/variables.scss" as *;

.article-form {
  padding: 1.5rem;

  background-color: $color-background-primary;

  max-width: 100%;

  &__header {
    font-size: 1.5rem;

    margin-top: 0;
  }
}
