@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.article-form {
  max-width: 100%;

  padding: 1.5rem;

  background-color: $color-background-primary;

  &__header {
    font-size: 1.5rem;

    margin-top: 0;
  }

  &__spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70%;
  }

  &__error-message {
    color: $color-error;
    text-align: center;
  }

  &__success-message {
    color: $color-success;
    text-align: center;
  }

  @include vp-tablet {
    margin-top: 2rem;
  }
}
