@use "../../../assets/scss/variables.scss" as *;

.footer {
  color: $color-background-primary;
  text-align: center;
  font-size: 0.75rem;

  padding: 0.5rem 0;

  background-color: $color-font-primary;
}
