@use "../../../assets/scss/variables.scss" as *;

.footer {
  color: $color-background-primary;
  text-align: center;
  font-size: 0.75rem;
  line-height: 15px;

  padding: 5px 0 10px;

  background-color: $color-font-primary;

  &__copyright {
    position: relative;
    top: 3px;
    font-size: 1.25rem;
    margin-right: 10px;
  }
}
